{% extends '_layout.html' %}

{% block title %}Mentions légales{% endblock title %}

{% block body %}
  <main>
    <article>
      <section id=copyright>
        <header>
          <h2>Copyright</h2>
        </header>
        <p>L'ensemble des pages de ce site sont sous copyright © 2008-2016, Kozea.</p>
      </section>
      <section id=id1>
        <header>
          <h2>Informations légales</h2>
        </header>
        <section id=information-sur-l-editeur>
          <header>
            <h3>Information sur l'éditeur</h3>
          </header>
          <p>La plate-forme medsite.fr® est un service de Kozea.</p>
          <p>Contact administrateur du site : <a class="reference external"
            href=mailto:support@medsite.fr>support@medsite.fr</a>. L'accès au
            site est libre et gratuit. Les coûts liés au fournisseur d'accès
            Internet, ainsi que le coût des communications téléphoniques
            restent à la charge de l'internaute.</p>
        </section>
        <section id=responsabilites>
          <header>
            <h3>Responsabilités</h3>
          </header>
          <p>La plate-forme medsite.fr® permet aux clients médecins
            de créer le site de leur cabinet médical directement en ligne et aux
            clients/patients/Internautes d'accéder au site Internet du cabinet
            médical de leur choix.</p>
            <p>En aucun cas ce site ne peut laisser penser à l'Internaute qu'un
              Médecin n'utilisant pas la plate-forme medsite.fr® apporterait à
              ses clients un service et une compétence inférieure à ceux disposant
              du service medsite.fr®. Les articles contenus dans les différentes
              rubriques du présent site et des sites de médecins hébergés par
              medsite.fr®, ne peuvent constituer des prescriptions médicales et ne
              peuvent être interprétés comme constituant un diagnostique. Il est de
              la responsabilité de l'Internaute de considérer les informations et
              les services de ce site comme une information générale et faire appel
              à un professionnel de santé qui est le seul à pouvoir établir un
              diagnostique médical. L'ensemble des informations accessibles via ce
              site sont fournies en l'état.</p>
              <p>La société Kozea ne donne aucune garantie, explicite ou implicite,
                et n'assume aucune responsabilité relative à l'utilisation de ces
                informations. L'utilisateur est seul responsable de l'utilisation de
                telles informations. Kozea se réserve le droit de modifier à tout
                moment les présentes notamment en actualisant ce site. Kozea ne
                pourra être tenu responsable pour quel que dommage que ce soit, tant
                direct qu'indirect, résultant d'une information contenue sur ce
                site. L'utilisateur s'engage à ne transmettre sur ce site aucune
                information pouvant entraîner une responsabilité civile ou pénale et
                s'engage à ce titre à ne pas divulguer via ce site des informations
                illégales, contraires à l'ordre public ou diffamatoires.</p>
        </section>
        <section id=droits-d-auteur-copyright>
          <header>
            <h3>Droits d'auteur / Copyright</h3>
          </header>
          <p>Les marques et logos figurant sur ce site sont déposés par Kozea. Leur
            mention n'accorde en aucune manière une licence ou un droit
            d'utilisation quelconque des dites marques, qui ne peuvent donc être
            utilisées sans le consentement préalable et écrit du propriétaire de
            la marque sous peine de contrefaçon. L'ensemble des informations
            présentes sur ce site peut être téléchargé, reproduit, imprimé sous
            réserve de :</p>
            <ol>
              <li>n'utiliser de telles informations qu'à des fins personnelles et en aucune
                manière dans un but commercial ;</li>
                <li>ne pas modifier de telles informations ;</li>
              <li>reproduire sur toutes copie la mention des droits d'auteur (« le
                copyright ») de Kozea. Toute autre utilisation non expressément
                autorisée est strictement interdite sans autorisation préalable et
                écrite de Kozea.</li>
            </ol>
          <p>
            <strong>Images utilisées</strong> :</p>
          <ul>
            <li>Stock.xchng / medical doctor by Kurhan<p>
                <a class="reference external" href="http://www.sxc.hu/photo/1314902">http://www.sxc.hu/photo/1314902</a>
              </p>
            </li>
            <li>Stock.xchng / Stethoscope by LotusHead<p>Some instruments from the doc</p>
              <p>
                <a class="reference external" href="http://www.sxc.hu/photo/220620">http://www.sxc.hu/photo/220620</a>
              </p>
            </li>
          </ul>
        </section>
        <section id=loi-informatique-et-libertes-exercice-du-droit-d-acces>
          <header>
            <h3>Loi informatique et libertés / exercice du droit d'accès</h3>
          </header>
          <p>Loi n° 78-17 du 6 janvier 1978, modifiée par la Loi n° 2004-801 du 6
            août 2004. Les informations qui vous sont demandées sur ce site sont
            indispensables au bon fonctionnement des rubriques et peuvent être
            utilisées par d'autres sociétés, mère, sœurs ou filiales de Kozea.</p>
            <p>Conformément à l'art. 34 de la loi Informatique et Libertés, vous
              disposez d'un droit d'accès, de modification et de suppression des
              données vous concernant, que vous pouvez exercer auprès de la société
              Kozea, à l'adresse suivante:</p>
              <pre>
                107 boulevard de Stalingrad
                69100 Villeurbanne
              </pre>
        </section>
        <section id=mise-en-garde>
          <header>
            <h3>Mise en garde</h3>
          </header>
          <p>Les liens vers d'autres sites ne signifient pas que la société
            Kozea est d'accord avec leur contenu. Vous êtes entièrement
            responsable de l'utilisation que vous faites des informations trouvées
            sur ce site. La société Kozea et ses collaborateurs ne sauraient
            être tenus responsables des dommages directs, indirects ou spéciaux
            résultants de l'usage de ce site web ou d'autres sites qui lui sont
            liés, notamment tout préjudice financier ou commercial, perte de
            programmes ou de données dans votre système d'information. Le fait de
            devenir membre de ce site implique la lecture et l'acceptation de nos
            conditions générales d'utilisation.</p>
        </section>
        <section id=securite>
          <header>
            <h3>Sécurité</h3>
          </header>
          <p>Les messages que vous ferez parvenir à votre Médecin par
            l'intermédiaire d'Internet peuvent être interceptés sur le
            réseau. Leur confidentialité ne peut donc être garantie jusqu'à ce
            qu'ils parviennent à votre médecin.</p>
        </section>
      </section>
    </article>
  </main>
{% endblock body %}
